body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.page-header {
    font-weight: 500;
}

.site-logo {
    font-family: 'Raleway', sans-serif;  
    color: #000;
    font-weight: bold;
    font-size: 26px;
    text-decoration: none;
}

.site-logo span {
    color: #2196F3;
}

.nav-list {
list-style-type: none;
}

.nav-list-link{  
    text-decoration: none;
    color: #212121;  
}

.nav-list-link:hover,
.nav-list-link:focus {
    color: #2196F3;
}


.nav-contacts {
    list-style-type: none;
    }
.nav-contacts-link {
    text-decoration: none;
    color: #757575;
}

.nav-contacts-link:hover, 
.nav-contacts-link:focus {
    color: #2196F3;
}

.hero {
    background-color: #2F303A;
    
}
.hero-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    color: #FFFFFF;    
}

.hero-button {
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    color: #FFFFFF;    
}

.features {
    color: #757575;    
    line-height: 24px;
}

.features-list {
    list-style-type: none;
}

.features-item-title {
    font-size: 14px;
    font-weight: 700;
    color: #212121;
    text-transform: uppercase;
}

.occupation-title {
    font-size: 36px;
    font-weight: 700;
    color: #212121;
}

.occupation-list {
    list-style-type: none;   
}

.team {
    background-color: #F5F4FA;
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

.team-title {
    font-size: 36px;
    font-weight: 700;
    color: #212121;
}

.team-list {
    list-style-type: none;
}

.team-list-item-title {
    font-size: 16px;
    font-weight: 500;
    color: #212121;
}

.page-footer {
    background-color: #2F303A;
    line-height: 24px;
    color: #FFFFFF;
}

.page-footer-address {
    font-style: normal;
}

.page-footer-address-link {
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.6;
}

.page-footer .site-logo {
    color: #FFFFFF;
}